Repository waterkimchi/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{ts,tsx,cjs}"
      run: pnpm check:biome -- {staged_files}
      stage_fixed: true
    check-prettier:
      glob: "*.{json,md,toml,yml,yaml}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

fix: types for keySchema.resources [skip ci]
  apps/key-manager/src/app/actions/types.ts
Due: check-biome

fix(deps): downgrade to next14, fix versioning issues with authjs
  apps/key-manager/.env.example
  apps/key-manager/package.json
  apps/key-manager/src/app/login/page.tsx
  apps/key-manager/src/components/auth/SignInButton.tsx
  apps/key-manager/src/components/auth/SignOutButton.tsx
  apps/key-manager/src/components/layout/Header.tsx
  apps/key-manager/wrangler.toml
  pnpm-lock.yaml
Due: check-biome, check-prettier

feat: default light mode for api key management interface (#35)
  apps/key-manager/src/app/create/page.tsx
  apps/key-manager/src/app/edit/[slug]/page.tsx
  apps/key-manager/src/app/globals.css
  apps/key-manager/src/components/key/DeleteKey.tsx
  apps/key-manager/src/components/key/view/DisplayKey.tsx
Due: check-biome

feat: deploy key manager to AWS (#36)
  apps/key-manager/.env.example
  apps/key-manager/.gitignore
  apps/key-manager/README.md
  apps/key-manager/next.config.ts
  apps/key-manager/package.json
  apps/key-manager/src/app/actions/keys.ts
  apps/key-manager/src/app/create/page.tsx
  apps/key-manager/src/app/edit/[slug]/page.tsx
  apps/key-manager/src/app/login/page.tsx
  apps/key-manager/src/components/auth/SignInButton.tsx
  apps/key-manager/src/components/auth/SignOutButton.tsx
  apps/key-manager/src/components/key/KeyManager.tsx
  apps/key-manager/src/components/layout/Header.tsx
  apps/key-manager/src/components/layout/HeadingText.tsx
  apps/key-manager/sst.config.ts
  apps/key-manager/tsconfig.json
  apps/key-manager/worker-configuration.d.ts
  apps/key-manager/wrangler.toml
  docker-compose.yml
  package.json
  pnpm-lock.yaml
Due: check-biome, check-prettier

feat: add loading styling to api manager (#38)
  apps/key-manager/src/app/create/page.tsx
  apps/key-manager/src/app/edit/[slug]/page.tsx
  apps/key-manager/src/app/globals.css
  apps/key-manager/src/app/layout.tsx
  apps/key-manager/src/components/key/DeleteKey.tsx
  apps/key-manager/src/components/key/KeyManager.tsx
  apps/key-manager/src/components/key/form/ResourcesField.tsx
  apps/key-manager/src/components/key/view/KeyTableRow.tsx
  apps/key-manager/src/components/ui/button-spinner.tsx
  apps/key-manager/src/components/ui/placeholder.tsx
  biome.json
Due: check-biome, check-prettier

fix: websoc endpoint not returning some courses
  apps/api/src/services/websoc.ts
Due: check-biome

fix: resolve issue with rate limit override
  apps/api/src/middleware/global-rate-limiter.ts
Due: check-biome

fix: aggregate grades returning null on not found
  apps/api/src/services/grades.ts
Due: check-biome

fix: websoc scraper final exam date
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

refactor: clean up middleware
  apps/api/src/index.ts
  apps/api/src/middleware/global-rate-limiter.ts
  apps/api/src/middleware/index.ts
  apps/api/src/middleware/ip-based-rate-limiter.ts
  apps/api/src/middleware/openapi-meta.ts
  apps/api/src/middleware/production-cache.ts
  apps/api/src/middleware/reference-og-tag-injector.ts
Due: check-biome

chore: update wrangler, autogen DO typedef
  apps/api/package.json
  apps/api/src/graphql/graphql-context.ts
  apps/api/src/graphql/index.ts
  apps/api/src/index.ts
  apps/api/src/middleware/access-controller.ts
  apps/api/src/middleware/global-rate-limiter.ts
  apps/api/src/middleware/ip-based-rate-limiter.ts
  apps/api/src/middleware/key-verifier.ts
  apps/api/src/middleware/production-cache.ts
  apps/api/src/rest/index.ts
  apps/api/src/rest/routes/calendar.ts
  apps/api/src/rest/routes/courses.ts
  apps/api/src/rest/routes/enrollment-history.ts
  apps/api/src/rest/routes/grades.ts
  apps/api/src/rest/routes/instructors.ts
  apps/api/src/rest/routes/larc.ts
  apps/api/src/rest/routes/ping.ts
  apps/api/src/rest/routes/search.ts
  apps/api/src/rest/routes/websoc.ts
  apps/api/src/rest/routes/week.ts
  apps/api/src/types/bindings.ts
  apps/api/tsconfig.json
  apps/api/worker-configuration.d.ts
  apps/api/wrangler.toml
  apps/data-pipeline/larc-scraper/package.json
  apps/data-pipeline/larc-scraper/wrangler.toml
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/study-location-scraper/wrangler.toml
  apps/data-pipeline/websoc-scraper/package.json
  apps/data-pipeline/websoc-scraper/wrangler.toml
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-biome, check-prettier

chore: enable cors on openapi spec
  apps/api/src/index.ts
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

revert: cors'd spec not working in prod
  apps/api/src/index.ts
Due: check-biome

fix(scalar): add localhost:8787 as option
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

fix(websoc-scraper): specify correct entrypoint
  apps/data-pipeline/websoc-scraper/wrangler.toml
Due: check-prettier

feat(larc-scraper): delete older entries (#43)
  apps/data-pipeline/larc-scraper/src/lib.ts
Due: check-biome

feat: add rest and graphql endpoints for study rooms (#29)
  apps/api/package.json
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/resolvers/study-rooms.ts
  apps/api/src/graphql/schema/index.ts
  apps/api/src/graphql/schema/study-rooms.ts
  apps/api/src/rest/index.ts
  apps/api/src/rest/routes/study-rooms.ts
  apps/api/src/schema/index.ts
  apps/api/src/schema/study-rooms.ts
  apps/api/src/services/index.ts
  apps/api/src/services/study-rooms.ts
  apps/data-pipeline/larc-scraper/package.json
  apps/data-pipeline/larc-scraper/worker-configuration.d.ts
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/study-location-scraper/worker-configuration.d.ts
  apps/data-pipeline/websoc-scraper/package.json
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-biome, check-prettier

chore: format code
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/schema/index.ts
  apps/api/src/rest/index.ts
  biome.json
Due: check-biome, check-prettier

fix: wrangler entrypoint and type errors
  apps/api/src/rest/routes/study-rooms.ts
  apps/data-pipeline/larc-scraper/wrangler.toml
  apps/data-pipeline/study-location-scraper/wrangler.toml
Due: check-biome, check-prettier

chore: upgrade to node 22 (#44)
  .nvmrc
  apps/api/package.json
  apps/api/src/services/enrollment-history.ts
  apps/api/src/services/grades.ts
  apps/api/src/services/search.ts
  apps/api/src/services/websoc.ts
  apps/data-pipeline/calendar-scraper/package.json
  apps/data-pipeline/course-scraper/package.json
  apps/data-pipeline/course-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/package.json
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/grades-importer/package.json
  apps/data-pipeline/instructor-scraper/package.json
  apps/data-pipeline/instructor-scraper/src/index.ts
  apps/data-pipeline/larc-scraper/package.json
  apps/data-pipeline/larc-scraper/worker-configuration.d.ts
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/study-location-scraper/src/lib.ts
  apps/data-pipeline/study-location-scraper/worker-configuration.d.ts
  apps/data-pipeline/websoc-scraper/package.json
  apps/data-pipeline/websoc-scraper/src/lib.ts
  apps/key-manager/package.json
  package.json
  packages/db/package.json
  packages/stdlib/package.json
  pnpm-lock.yaml
Due: check-biome, check-prettier

feat: refactor larc endpoint (#47)
  apps/api/src/graphql/resolvers/larc.ts
  apps/api/src/graphql/schema/larc.ts
  apps/api/src/rest/routes/larc.ts
  apps/api/src/schema/index.ts
  apps/api/src/schema/larc.ts
  apps/api/src/schema/lib/course.ts
  apps/api/src/schema/lib/day.ts
  apps/api/src/schema/lib/index.ts
  apps/api/src/schema/lib/time.ts
  apps/api/src/schema/websoc.ts
  apps/api/src/services/larc.ts
  apps/api/src/services/study-rooms.ts
  apps/api/src/services/websoc.ts
  apps/data-pipeline/larc-scraper/src/lib.ts
  apps/data-pipeline/websoc-scraper/src/lib.ts
  packages/db/migrations/0006_refactor_larc.sql
  packages/db/migrations/meta/0006_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
  packages/stdlib/src/day-utils.ts
  packages/stdlib/src/index.ts
  packages/stdlib/src/time-utils.ts
Due: check-biome, check-prettier

chore: tweak prettierignore/biome config
  .prettierignore
  biome.json
Due: check-prettier

fix: courseNumberSchema => daysSchema
  apps/api/src/schema/websoc.ts
  apps/key-manager/package.json
Due: check-biome, check-prettier

fix(grades): resolve empty result set on missing instructors
  apps/api/src/services/grades.ts
Due: check-biome

docs: link docs, reference, and attribution from README (#51)
  CONTRIBUTORS.md
  README.md
Due: check-prettier

fix(websoc): graphql terms actually transmitted (#53)
  apps/api/src/graphql/resolvers/websoc.ts
Due: check-biome

fix(week): correct parsing of graphql day (#55)
  apps/api/src/schema/week.ts
Due: check-biome

fix(search): count is a nonnegative int (#57)
  apps/api/src/graphql/schema/search.ts
  apps/api/src/schema/search.ts
Due: check-biome

Changes to match icssc/docs#33 (#61)
  CONTRIBUTING.md
  README.md
Due: check-prettier

fix: excludePNP parsing for GraphQL (#63)
  apps/api/src/schema/grades.ts
Due: check-biome

ci: init pipeline (#69)
  .github/actions/setup-node-and-pnpm/action.yml
  .github/workflows/delete_staging.yml
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_staging.yml
  apps/api/wrangler.toml
Due: check-prettier

fix: excludePNP nesting in grades query builder (#67)
  apps/api/src/services/grades.ts
Due: check-biome

fix(grades): missing join broke aggregateGradesByCourse (#71)
  apps/api/src/services/grades.ts
Due: check-biome

feat(websoc): enhance WebSoc quarter parameter validation message (#76)
  apps/api/src/schema/websoc.ts
Due: check-biome

chore: update wrangler (#65)
  apps/api/package.json
  apps/api/wrangler.toml
  apps/data-pipeline/larc-scraper/package.json
  apps/data-pipeline/larc-scraper/wrangler.toml
  apps/data-pipeline/study-location-scraper/package.json
  apps/data-pipeline/study-location-scraper/wrangler.toml
  apps/data-pipeline/websoc-scraper/package.json
  apps/data-pipeline/websoc-scraper/wrangler.toml
  apps/key-manager/package.json
  pnpm-lock.yaml
Due: check-prettier

fix(key-manager): key manager setup & ui (#78)
  apps/key-manager/.env.example
  apps/key-manager/docker-compose.yml
  apps/key-manager/package.json
  apps/key-manager/src/components/auth/SignOut.tsx
  apps/key-manager/src/components/key/KeyManager.tsx
  apps/key-manager/src/components/key/view/KeyTableRow.tsx
  apps/key-manager/src/components/layout/Header.tsx
  apps/key-manager/src/components/ui/avatar.tsx
  pnpm-lock.yaml
Due: check-biome, check-prettier

feat: add web column to WebSoc (#82)
  apps/api/src/schema/websoc.ts
  apps/data-pipeline/websoc-scraper/package.json
  apps/data-pipeline/websoc-scraper/src/lib.ts
  packages/db/migrations/0007_websoc_web.sql
  packages/db/migrations/meta/0007_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
  packages/public/libwebsoc-next/package.json
  packages/public/libwebsoc-next/src/index.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

feat: websoc scraper enhancements (#83)
  apps/data-pipeline/mview-refresher/package.json
  apps/data-pipeline/mview-refresher/src/handler.ts
  apps/data-pipeline/mview-refresher/tsconfig.json
  apps/data-pipeline/mview-refresher/worker-configuration.d.ts
  apps/data-pipeline/mview-refresher/wrangler.toml
  apps/data-pipeline/websoc-scraper/src/lib.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

feat(study-rooms): serve slots data (#75)
  apps/api/src/graphql/schema/study-rooms.ts
  apps/api/src/schema/study-rooms.ts
  apps/api/src/services/study-rooms.ts
  apps/data-pipeline/study-location-scraper/src/lib.ts
  packages/db/migrations/0008_study_rooms_materialized_view.sql
  packages/db/migrations/meta/0008_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

fix(study-rooms): specify and serve UCI timezone for slots (#85)
  apps/api/src/schema/study-rooms.ts
  apps/data-pipeline/study-location-scraper/src/lib.ts
Due: check-biome
