Repository waterkimchi/anteater-api: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, check-prettier

check-biome:
  run: pnpm check:biome -- {staged_files}
  stage_fixed: true

check-prettier:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

fix: resolve empty enrollment history entries (#64)
  apps/api/src/services/enrollment-history.ts
Due: check-biome

feat(base-route): Redirecting user on browser to reference path (#88)
  apps/api/src/index.ts
  apps/api/src/middleware/index.ts
  apps/api/src/middleware/redirect-browser-to-docs.ts
Due: check-biome

chore: create library for year query format (#89)
  apps/api/src/schema/calendar.ts
  apps/api/src/schema/enrollment-history.ts
  apps/api/src/schema/grades.ts
  apps/api/src/schema/larc.ts
  apps/api/src/schema/lib/index.ts
  apps/api/src/schema/lib/year.ts
  apps/api/src/schema/websoc.ts
  apps/api/src/schema/week.ts
Due: check-biome

chore: more gitignores (#92)
  .gitignore
  packages/db/.gitignore
Due: none

fix: Update package.json homepage link (#90)
  package.json
Due: check-prettier

feat: degree programs and their requirements (#95)
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/resolvers/programs.ts
  apps/api/src/graphql/schema/index.ts
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/rest/index.ts
  apps/api/src/rest/routes/programs.ts
  apps/api/src/schema/index.ts
  apps/api/src/schema/programs.ts
  apps/api/src/services/index.ts
  apps/api/src/services/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  packages/db/src/schema.ts
Due: check-biome

feat: add way to filter `programs` endpoints by `majorid` and `id` (#97)
  apps/api/src/graphql/resolvers/programs.ts
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/rest/routes/programs.ts
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
Due: check-biome

fix(programs): add majors with no specializations (#99)
  apps/api/src/services/programs.ts
Due: check-biome

feat: courses & instructor cursor based pagination (#101)
  apps/api/src/graphql/resolvers/courses.ts
  apps/api/src/graphql/resolvers/instructors.ts
  apps/api/src/graphql/schema/courses.ts
  apps/api/src/graphql/schema/instructors.ts
  apps/api/src/rest/index.ts
  apps/api/src/rest/routes/courses.ts
  apps/api/src/rest/routes/instructors.ts
  apps/api/src/schema/base/response.ts
  apps/api/src/schema/courses.ts
  apps/api/src/schema/instructors.ts
  apps/api/src/schema/search.ts
  apps/api/src/services/courses.ts
  apps/api/src/services/instructors.ts
Due: check-biome

hotfix(courses,instructors): correct batch route precedence (#108)
  apps/api/src/graphql/resolvers/courses.ts
  apps/api/src/graphql/resolvers/instructors.ts
  apps/api/src/graphql/schema/courses.ts
  apps/api/src/graphql/schema/instructors.ts
  apps/api/src/rest/routes/courses.ts
  apps/api/src/rest/routes/instructors.ts
  apps/api/src/services/courses.ts
  apps/api/src/services/instructors.ts
Due: check-biome

fix(larc): remove redundant variable assignment
  apps/api/src/services/larc.ts
Due: check-biome

feat(programs): undergrad program requirements (#103)
  apps/api/src/graphql/resolvers/programs.ts
  apps/api/src/graphql/schema/programs.ts
  apps/api/src/rest/routes/programs.ts
  apps/api/src/schema/programs.ts
  apps/api/src/services/programs.ts
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  apps/data-pipeline/degreeworks-scraper/src/components/DegreeworksClient.ts
  apps/data-pipeline/degreeworks-scraper/src/components/Scraper.ts
  apps/data-pipeline/degreeworks-scraper/src/index.ts
  apps/data-pipeline/degreeworks-scraper/src/types.ts
  packages/db/migrations/0009_uc_ge_requirements.sql
  packages/db/migrations/meta/0009_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

fix(websoc): store sentinels for null due to quirk (#113)
  apps/api/src/services/websoc.ts
  apps/data-pipeline/websoc-scraper/src/lib.ts
  packages/stdlib/src/int-utils.ts
Due: check-biome

feat(websoc): bisect to handle section chunk overrun (#114)
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

migrations
  .github/workflows/deploy_prod.yml
Due: check-prettier

fix: pipline
  .github/workflows/deploy_staging.yml
Due: check-prettier

fix(program-requirements): correct ID and 404 behavior (#119)
  apps/api/src/graphql/resolvers/programs.ts
  apps/api/src/rest/routes/programs.ts
Due: check-biome

feat(dw-scraper): better wildcard handling (#122)
  apps/data-pipeline/degreeworks-scraper/src/components/AuditParser.ts
  packages/db/migrations/0010_shortened_dept.sql
  packages/db/migrations/meta/0010_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

fix(programs): incorrect property access (#128)
  apps/api/src/rest/routes/programs.ts
Due: check-biome

fix(websoc-scraper): infer section status when unavailable
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

fix: include enrollment history entries without websoc instructors (#139)
  apps/api/src/services/enrollment-history.ts
Due: check-biome

Data Accuracy Disclaimer (#133)
  apps/api/src/middleware/openapi-meta.ts
Due: check-biome

chore: update bindings (#140)
  apps/api/wrangler.toml
  apps/data-pipeline/larc-scraper/wrangler.toml
  apps/data-pipeline/mview-refresher/wrangler.toml
  apps/data-pipeline/study-location-scraper/wrangler.toml
  apps/data-pipeline/websoc-scraper/wrangler.toml
Due: check-prettier

feat: AP Exam mappings, take 2 (#129)
  apps/api/src/graphql/resolvers/ap-exams.ts
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/schema/ap-exams.ts
  apps/api/src/graphql/schema/index.ts
  apps/api/src/middleware/openapi-meta.ts
  apps/api/src/rest/index.ts
  apps/api/src/rest/routes/ap-exams.ts
  apps/api/src/schema/ap-exams.ts
  apps/api/src/schema/base/response.ts
  apps/api/src/schema/grades.ts
  apps/api/src/schema/index.ts
  apps/api/src/schema/lib/course.ts
  apps/api/src/services/ap-exams.ts
  apps/api/src/services/index.ts
  apps/data-pipeline/ap-exams-importer/package.json
  apps/data-pipeline/ap-exams-importer/src/data.ts
  apps/data-pipeline/ap-exams-importer/src/index.ts
  apps/data-pipeline/ap-exams-importer/tsconfig.json
  packages/db/migrations/0011_ap_exams.sql
  packages/db/migrations/meta/0011_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

fix: typo on AP calc BC (#145)
  apps/data-pipeline/ap-exams-importer/src/data.ts
Due: check-biome

feat: implement shim for 32A/H32 equivalence (#154)
  apps/data-pipeline/course-scraper/src/index.ts
Due: check-biome

hotfix(websoc-scraper): use left join to ensure all terms scraped (#155)
  apps/data-pipeline/websoc-scraper/src/lib.ts
Due: check-biome

feat(websoc): implement related courses from section code range (#104)
  apps/api/src/graphql/schema/websoc.ts
  apps/api/src/schema/websoc.ts
  apps/api/src/services/websoc.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

fix: ap exam sql and ts types (#147)
  apps/api/src/schema/ap-exams.ts
  apps/api/src/services/ap-exams.ts
  packages/db/migrations/0012_ap_exams_units_not_null.sql
  packages/db/migrations/meta/0012_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

refactor: unify course-related endpoint logic (#148)
  apps/api/src/services/grades.ts
  apps/api/src/services/larc.ts
  apps/api/src/services/util.ts
  apps/api/src/services/websoc.ts
Due: check-biome

feat(CI): added deployment skip, migration automation, and key manager steps (#121)
  .github/workflows/deploy_prod.yml
  .github/workflows/deploy_staging.yml
  pnpm-lock.yaml
Due: check-prettier

ci: properly convey database URL (#160)
  .github/workflows/deploy_prod.yml
Due: check-prettier

fix: proper names for ap physics C (#163)
  apps/data-pipeline/ap-exams-importer/src/data.ts
Due: check-biome

feat(search): include shortenedDept in TS vector weighting (#157)
  apps/api/src/services/search.ts
  packages/db/migrations/0013_search_index_dept.sql
  packages/db/migrations/meta/0013_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

fix(study-rooms): rooms with no slots (#166)
  packages/db/migrations/0014_study-rooms-left-join.sql
  packages/db/migrations/meta/0014_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

feat: web scraper and endpoint for library traffic data (#149)
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/resolvers/library-traffic.ts
  apps/api/src/graphql/schema/index.ts
  apps/api/src/graphql/schema/library-traffic.ts
  apps/api/src/middleware/openapi-meta.ts
  apps/api/src/rest/index.ts
  apps/api/src/rest/routes/library-traffic.ts
  apps/api/src/schema/index.ts
  apps/api/src/schema/library-traffic.ts
  apps/api/src/services/index.ts
  apps/api/src/services/library-traffic.ts
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/src/handler.ts
  apps/data-pipeline/library-traffic-scraper/src/index.ts
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
  apps/data-pipeline/library-traffic-scraper/tsconfig.json
  apps/data-pipeline/library-traffic-scraper/worker-configuration.d.ts
  apps/data-pipeline/library-traffic-scraper/wrangler.toml
  packages/db/migrations/0013_library_traffic.sql
  packages/db/migrations/0014_library_traffic.sql
  packages/db/migrations/0015_library_traffic.sql
  packages/db/migrations/meta/0015_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

Revert "feat: web scraper and endpoint for library traffic data" (#173)
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/resolvers/library-traffic.ts
  apps/api/src/graphql/schema/index.ts
  apps/api/src/graphql/schema/library-traffic.ts
  apps/api/src/middleware/openapi-meta.ts
  apps/api/src/rest/index.ts
  apps/api/src/rest/routes/library-traffic.ts
  apps/api/src/schema/index.ts
  apps/api/src/schema/library-traffic.ts
  apps/api/src/services/index.ts
  apps/api/src/services/library-traffic.ts
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/src/handler.ts
  apps/data-pipeline/library-traffic-scraper/src/index.ts
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
  apps/data-pipeline/library-traffic-scraper/tsconfig.json
  apps/data-pipeline/library-traffic-scraper/worker-configuration.d.ts
  apps/data-pipeline/library-traffic-scraper/wrangler.toml
  packages/db/migrations/0013_library_traffic.sql
  packages/db/migrations/0014_library_traffic.sql
  packages/db/migrations/0015_library_traffic.sql
  packages/db/migrations/meta/0015_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

fix: web scraper and endpoint for library traffic data (#174)
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/resolvers/library-traffic.ts
  apps/api/src/graphql/schema/index.ts
  apps/api/src/graphql/schema/library-traffic.ts
  apps/api/src/middleware/openapi-meta.ts
  apps/api/src/rest/index.ts
  apps/api/src/rest/routes/library-traffic.ts
  apps/api/src/schema/index.ts
  apps/api/src/schema/library-traffic.ts
  apps/api/src/services/index.ts
  apps/api/src/services/library-traffic.ts
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/src/handler.ts
  apps/data-pipeline/library-traffic-scraper/src/index.ts
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
  apps/data-pipeline/library-traffic-scraper/tsconfig.json
  apps/data-pipeline/library-traffic-scraper/worker-configuration.d.ts
  apps/data-pipeline/library-traffic-scraper/wrangler.toml
  packages/db/migrations/0015_library_traffic.sql
  packages/db/migrations/meta/0015_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

Revert "fix: web scraper and endpoint for library traffic data " (#175)
  apps/api/src/graphql/resolvers/index.ts
  apps/api/src/graphql/resolvers/library-traffic.ts
  apps/api/src/graphql/schema/index.ts
  apps/api/src/graphql/schema/library-traffic.ts
  apps/api/src/middleware/openapi-meta.ts
  apps/api/src/rest/index.ts
  apps/api/src/rest/routes/library-traffic.ts
  apps/api/src/schema/index.ts
  apps/api/src/schema/library-traffic.ts
  apps/api/src/services/index.ts
  apps/api/src/services/library-traffic.ts
  apps/data-pipeline/library-traffic-scraper/package.json
  apps/data-pipeline/library-traffic-scraper/src/handler.ts
  apps/data-pipeline/library-traffic-scraper/src/index.ts
  apps/data-pipeline/library-traffic-scraper/src/lib.ts
  apps/data-pipeline/library-traffic-scraper/tsconfig.json
  apps/data-pipeline/library-traffic-scraper/worker-configuration.d.ts
  apps/data-pipeline/library-traffic-scraper/wrangler.toml
  packages/db/migrations/0015_library_traffic.sql
  packages/db/migrations/meta/0015_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
  pnpm-lock.yaml
Due: check-biome, check-prettier

feat(study-rooms): add filters, docs, URL fields (#171)
  apps/api/src/graphql/schema/study-rooms.ts
  apps/api/src/schema/lib/time.ts
  apps/api/src/schema/study-rooms.ts
  apps/api/src/services/study-rooms.ts
  apps/data-pipeline/study-location-scraper/src/lib.ts
  packages/db/migrations/0015_drop_study_rooms_mview.sql
  packages/db/migrations/meta/0015_snapshot.json
  packages/db/migrations/meta/_journal.json
  packages/db/src/schema.ts
Due: check-biome, check-prettier

Path conditions:
  check-biome: any of: *.{ts,tsx,cjs}
  check-prettier: any of: *.{json,md,toml,yml,yaml}
